@CHARSET "UTF-8";

#fullOffer{
	float: left;
	height: auto; 
	min-height: 100%;
	margin: 10px;
	padding: 3px;
	border-style: solid;
  border-width: 2px;
}

#offer_title{
	float: left;
	width: auto;
	max-width: 744px;
  padding: 3px;
	font-size: 16px;
	font-weight: bold;
	border-style: solid;
  border-width: 2px;
}

#route{
	clear: left;
	width: auto;
	padding: 3px;
	border-style: solid;
  border-width: 1px;
}

#shortOffer{
	float: left;
	width: auto;
	max-width: 400px;
	height: 301px;
	padding: 3px;
	margin-right:30px;
	border-style: solid;
  border-width: 1px;
}

#duration{
	clear: left;
	width: auto;
	height: 18px;
	border-style: solid;
  border-width: 1px;
}

#startingDates{
	clear: left;
	width: auto;
	border-style: solid;
  border-width: 1px;
}

#price{
	clear: left;
	width: auto;
	height: 18px;
	border-style: solid;
  border-width: 1px;
}

#requestButton{
	clear: left;
	width: auto;
	height: 25px;
	border-style: solid;
  border-width: 1px;
}

#image{
	float:left;
	width: 461px;
	height: 301px;
	border-style: solid;
  border-width: 1px;
}

#restOfOffer{
	float: left;
	width: 90%;
	height: 100%;
	padding: 3px;
	border-style: solid;
  border-width: 1px;
}
}
#gDescription{
	float: left;
	border-style: solid;
  border-width: 1px;
}

#dDescription{
	float: left;
	border-style: solid;
  border-width: 1px;
}

#hotels{
	float: left;
	border-style: solid;
  border-width: 1px;
}

#priceInfo{
	float: left;
	border-style: solid;
  border-width: 1px;
}