
body {
	padding: 0px;
	margin: 0px;
}

#top_blue_gradient 
{
  	background: #043e88; /* Standard syntax */
  	position: relative; 
  	height: 40px; 
  	width: 100%;
  	padding: 0px;
	margin: 0px;
}

#under_top_gradient 
{
	position: absolute;
	top: 10px;
	bottom: 0px;	
	height: 90%; 
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#left_side_gradient
{
	background: #043e88;
	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 0px;
	width: 7%;
	padding: 0px; 
	margin: 0px;
}

#right_side_gradient
{
	background: #043e88;
	position: absolute;
	top: 10px;
	left: 15px;
	width: 7%;
	bottom: 0px;
	margin: 0px; 
	padding: 0px; 
}

#content_part
{
	position: absolute;
	top: 10px;
	bottom: 0px;
	width: 86%;
}


