
body {
	padding: 0px;
	margin: 0px;
	background: #043e88;
	background-size: 100%;
	font-family: Trebuchet MS, Verdana, Arial;
	font-size: 1em;
}

html, body, #content_part { height: 100%; }
body > #content_part { height: auto; min-height: 100%; }
#content_part
{
	position: absolute;
	top: 40px;
	max-width: 1150px;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
	width: 1150px;
}

#header_image
{
	position: relative;
	background: blue; /*url("../img/header.png");*/
	width: 100%; 
	height: 145px;
}

#header_image img {
	height: 100%;
	width: 100%;
}

#hor_menu 
{
	position: relative; 
	width: 100%; 
	height: 30px;
}

#left_menu_and_content
{ 
	position: absolute;
	top: 175px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #60abfc;
	height: auto;
	padding-bottom: 40px;
}
 
#left_menu 
{
	position: absolute;
	top: 0px; 
	width: 20%;
	height: 100%;
}

#content 
{
	position: absolute; 
	left: 20%; 
	width: 80%; 
	height: 100%;
	display: inline-block;
	padding-bottom: 40px;
}