/*toDo: choose font, space between menu items
 *      set font in em
 */


#hor_Menu{
	/*remove white corners from horizontal menu*/
	background-color: rgb(96,171,252);
}

#menuMain{
	border-radius: 20px;
	background-color: rgb(255,204,3);
	padding-left: 0px;
	padding-right: 0px; 
	padding-top: 5px; 
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#menuMain li{
	display: inline;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;	
}

#menuMain a:link {
	/*insert padding to achieve hovering change of color*/
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
  text-decoration: none;
}

#menuMain a:hover{
	border-radius: 10px;
  background-color: rgb(255,237,163); 	
}

/*current page stays highlighted on the menu*/
#menuMain .active{
	border-radius: 10px;
	background-color:rgb(255,237,163);
}