@CHARSET "UTF-8";

.ORHBWrapper 
{
	width: 90%;
	padding: 10px;
}

.orangeBox
{
  	width: 100%; 
  	height: 100%;
  	background: #ffcc03;
  	border-radius: 10px; 
}

.orangeHead 
{
	width: 100%;
	background: #f57643;
	border-radius: 15px;
	
}

ul.submenus
{
	list-style-type: none; 
	margin: 10px;
    padding-left: 20px;
}

.orh_tit 
{
	font-size: 1.2em; 
	color: #311e32;
	margin-left: 20px;
	padding-top: 3px;
    padding-bottom: 3px; 	
}

.msub 
{
	display: none;
}

.mlink
{
    text-decoration: none;
    color: #311e32;
}

.mlink:hover 
{
	color: #60abfc;
}

.options 
{ 
	padding: 3px;	
}

.level1 {
	margin-left: 10px;
	display: none;
}

.level2
{
	margin-left: 20px;
	display: none;
}